
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

.contact a {
  margin: 2px;
}

.form {
  width: clamp(20rem, 40vw, 100rem);
  margin: 2rem;
}

.thankyou {
  text-align: center;
  margin: 2rem;
}
