
.home{
  flex-direction: column;
  margin: 1rem;
}

.hi {
  display: inline-flex ;
  margin: 1vw 1vw 1vw 10vw ;
  font-size: 7vw;
  width: 60vw;
  font-weight: 700;
  color: #fcfdfd;
}

.name {
  font-size: 7vw;
  font-weight: 700;
  margin: 0rem 4rem 0.5rem 25vw;
  color: var(--main-blue);
  display: inline-flex ;
  z-index: 10;
}

.slant {
  margin-top: 7rem;
  box-shadow: 5px 7px 7px var(--main-pink);
  background-color: var(--main-yellow);
  border-radius: var(--radius-blob-2);
  height: 40vw;
  width: 95vw;
  z-index: -1;
}

.home-bg-img {
  padding: 1rem;
  display: flex;
  border-radius: var(--radius-blob-5);
  width: 30vw;
}

.img-container {
  margin-top: 10vw;
  position: absolute;
  z-index: 1;
  border-radius: 15%;
 
}

.blurb {
  padding: 1rem;
  font-size: x-large;
  white-space: pre-line;
  text-align: center;
  color: var(--main-blue);
  border-radius: 15px;
  position: absolute;
  margin-left: 35vw;
} 

@media screen and (max-width: 650px) {
  .slant {
    height: 60vh;
    width: 95vw;
  }
   .home-bg-img {
    width: 40vw;
  }
  .blurb {
    font-size: medium;
    margin-left: 25vw;
  }

}

@media screen and (min-width: 1200px) {
  .home-bg-img {
    width: 25vw;
  }
  .img-container {
    margin-top: 8vw;
  }
  .name {
    margin: .1rem 4rem 0.5rem 25vw;
  }
  .blurb {
    font-size: xx-large;
    margin-left: 25vw;
  }
}