
.home{
  flex-direction: column;
  margin: 10rem 10vw 1rem 10vw;
}

.hi {
  display: inline-flex ;
  margin: 1vw 1vw 1vw 10vw ;
  font-size: clamp(2rem, 7vw, 30rem);
  width: 60vw;
  font-weight: 700;
  color: #fcfdfd;
}

.name {
  font-size: clamp(2rem, 7vw, 30rem);
  font-weight: 700;
  margin: 0rem 4rem 0.5rem 25vw;
  color: var(--main-blue);
  display: inline-flex ;
  z-index: 10;
}

.slant {
  margin-top: 7rem;
  box-shadow: 5px 7px 7px var(--main-pink);
  background-color: var(--main-yellow);
  border-radius: var(--radius-blob-2);
  height: 40vw;
  z-index: -1;
  margin: 0vw 5vw 5vw 0vw;
}

.home-bg-img {
  padding: 1rem;
  display: flex;
  border-radius: var(--radius-blob-5);
  width: 30vw;
}

.img-container {
  margin-top: 10vw;
  position: absolute;
  z-index: 1;
  border-radius: 15%;
}

.blurb {
  padding: 0vw 2vw 2vw 2vw;
  font-size: clamp(1.4rem, 2vw, 20rem); 
  white-space: pre-line;
  text-align: center;
  color: var(--main-blue);
  border-radius: 15px;
  position: absolute;
  margin-left: 30vw;
  margin-right: 20vw;
} 

@media screen and (max-width: 940px) {
  .slant {
    height: 50vw;
    width: 95vw;
  }
  .blurb {
    margin-left: 35vw;
    margin-right: 2vw;
  }
}

@media screen and (max-width: 670px) {
  .slant {
    height: 70vw;
    width: 95vw;
  }
  .img-container {
    margin-top: 25vw;
  }
  .home-bg-img {
    width: 40vw;
  }
  .blurb {
    margin-left: 35vw;
    margin-right: 2vw;
  }
}


@media screen and (min-width: 1200px) {
  .home-bg-img {
    width: 25vw;
  }
  .img-container {
    margin-top: 8vw;
  }
  .name {
    margin: .1rem 4rem 0.5rem 25vw;
  }
  .blurb {
    margin-left: 25vw;
  }
}

@media screen and (max-width: 450px) {
  .slant {
    height: 120vw;
  }
  .blurb {
    margin-left: 35vw;
    margin-right: 2vw;
  }
  .home-bg-img {
    width: 45vw;
  }
}

@media screen and (max-width: 340px) {
  .slant {
    height: 200vw;
    width: 95vw;
  }
  .home-bg-img {
    width: 45vw;
    margin-top: 35vw;
  }
  .blurb {
    margin-left: 45vw;
    margin-right: 2vw;
  }
}