.navbar {
  font-weight: 800;
  font-size: 1rem;
  width: 100vw;
  height: 4rem;
  opacity: 95%;
  background-color: var(--main-pink);
  color: white;
  border-radius: 2px;
}

.logo {
  font-size: 2rem;
}

.outlet-container {
  margin-top: 4rem;
  height: 70vh;
  text-align: -webkit-center;
}


#basic-navbar-nav{ 
  width: 40vw;
  background-color: var(--main-pink);
  opacity: 98%;
  border-radius: 2px;

}
