.home{
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #fff;
  margin: 1em;
}

.hi {
  display: inline-flex ;
  margin: 1em 1em .1em ;
  padding: .1em .1em .1em ;
  font-size: 6vw;
  font-weight: 700;
  color: #fcfdfd;
}

.name {
  font-size: 6vw;
  font-weight: 700;
  margin: .1em 0.1em 0.5em 3em;
  color: #309db5;
  display: inline-flex ;

}

.slant {
  margin-top: 7em;
  box-shadow: 5px 7px 7px #dd4fcb;
  background-color: #c3d214;
  border-radius: var(--radius-blob-1);
  height: 50vh;
  z-index: -1;
}

.home-bg-img {
  display: flex;
  width: 35%;
  border-radius: var(--radius-blob-5);
}

.img-container {
  margin-top: 7em;
  margin-right: 1em;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  z-index: 1;
}

.blurb {
  padding: 1em;
  text-align: center;
  color: #309db5;
  border-radius: 15px;
  margin-top: 5em;
  z-index: 20;
  /* -webkit-mask-image: -webkit-gradient(linear, left top, 
  left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
} 