@import "open-props/style";

.navbar {
  font-weight: 800;
  height: 10vh;
  opacity: 95%;
  background-color: violet;
  color: white;
  border-radius: 3px;
}

#basic-navbar-nav{ 
 background-color: violet;
 opacity: 95%;
 border-radius: 3px;

}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a {
  margin: 2px;
}


.projects {
  color: black;
}