@import "open-props/style";

:root {
  --main-blue: #309db5;
  --main-pink: #dd4fcb;
  --main-yellow: #c3d214;
}


.navbar {
  font-weight: 800;
  height: 10vh;
  opacity: 95%;
  background-color: var(--main-pink);
  color: white;
  border-radius: 2px;
}

#basic-navbar-nav{ 
 background-color: var(--main-pink);
 opacity: 95%;
 border-radius: 2px;

}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.contact a {
  margin: 2px;
}

.form {
  width: 30rem;
}

.thankyou {
  text-align: center;
}

.projects {
  color: black;
  text-align: -webkit-center;
  margin-top: 8rem;
}

.card {
 border-radius: 20px;
}

