@import "open-props/style";

.navbar {
  font-weight: 800;
  height: 10vh;
  background-image: var(--gradient-13);
  opacity: 90%;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a {
  margin: 2px;
}